.productsContent{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    border-top: 0px;
    background-color: ivory;
    text-align: left;
}

.specs-container{
    margin: 20px;
    text-align: left;
}

.prodBox{
    width: 250px;
    height: 150px;
    background-color: lemonchiffon;
    border: 1px solid black;
}

.prod_data{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.prod_data > div{
    padding: 3px;
}
.prod_data > :last-child{
    width: 40%;
}

.buttons{
    width: 90%;
    display: inline-flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-top: 15px;
}

.PBImage{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

.boxes{
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.b{
    width: 95px;
}
.infotext{
    display: block;
    color: red;
    font-size: 12px;
    font-weight: bold
}


.images{
    display: flex;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}


.details_container{
    width: 30%;
    padding: 5px;
    margin: 10px;
    text-align: left;
    font-size: 12px;
    font-style: italic;
}

.details_button{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 30px;
    margin-top: 100px;
    text-align: right;
}
.details_button>div{
    display: inline-flex;
    justify-content: center;
    width: 100px;
}


.images_container{
    align-content: center;
    width: 65%;
    height: 90%;
    margin: 10px;

}
.img-display-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    margin-top: 10px;
}
.img-display{
    height: 100%;
    justify-content: center;
    border: 1px solid black;
}
.img-display img{
    height: 100%;
}
.thumbs-container{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.thumbs{

    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}
.prod-images{
    display: inline-flex;
    width: 80px;
    height: 80px;
    margin-right: 80px;
}
.prod-images>img{
    display: inline-flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.btns{
    display: inline-flex;
    justify-content: space-between ;
}
.Lbtn{
    margin-right: 13%;
}
.Rbtn{
    margin-left: 13%;
}
.btns button{
    height: 80px;
}

/*
RECOMMENDED PRODUCTS
*/

.rec-container{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.recoms{
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 220px;
    height: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid black;
}
/* .recoms > div{
    height: 100%;
    border: 1px solid black;
} */
.recoms img{
    height: 70%;
    margin: 5px;
}