.headerContent{
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    border: 1px solid black;
}

.title{
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;

}
.global{
    width: 200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: honeydew;
}

.displayContainer{
    display: none;
    animation-name: fade;
    animation-duration: 0.5s;
    margin-top: 90px;
    margin-inline-start: 28.8%;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    z-index: 100;
}

.listContainer{
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 5px;
}

.list>div{
    display: inline-block;
}

.name{
    width: 100px;
}

#logo{
    width: 80px;
}

#cart{
    width: 80px;
}


/*
CART PAGE
*/
.carts-cont{
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.cart-prod{
    display: inline-flex;
    justify-content: left;
    width: 99%;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.cart-img{
    width: 200px;
    height: 100%;
    background-color: cornflowerblue;
}
.cart-img > img{
    height: 90%;
    margin-top: 2.5%;
}

.cart-det-cont{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.cart-details{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}


.cart-buttons{
    display: inline-flex;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    
}
.cart-buttons button{
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    border-radius: 50%;
}
.CP-remove-button::after{
    content: '-';
}
.CP-add-button::after{
    content: '+';
}
.cart-buttons div{
    margin-top: auto;
    margin-bottom: auto;
}
.cart-price{
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
.cart-action-buttons{
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
    height: 30px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

}
.cart-action-buttons button{
    width: 200px;
    font-size: 15px;
    font-weight: bold;
}
.cart-checkout{
    height: 100%;
    background-color: cornflowerblue;
}


@keyframes fade{
    from {opacity: .2;}
    to {opacity: 1;}
}
